.content {
  background-color: whitesmoke;
}

.background {
 padding-top: 30px; 
}

.col-md-8 {
  background-color: white;
  padding: 20px; 
}

.col-md-4 {
  background-color: white; 
  padding: 10px;
}

.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.row h2 {
  color: gray;
}


.row {
    background-color: white;
}

.col-md-12 {
    padding-left: 30px;
    padding-right: 30px;
}



